@import  url(https://fonts.googleapis.com/css?family=Montserrat);

// ボールのサイズ
$width: 15px;
$height: 15px;

// バウンドの距離
$bounce_height: 30px;

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  color: #fbae17;
}

.bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: $width;
  &:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    width: $width;
    height: $height;
    border-radius: 50%;
    background-color: #fbae17;
    transform-origin: 50%;
    animation: bounce 500ms alternate infinite ease;
  }
}

@keyframes bounce {
  0% {
    top: $bounce_height;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: $height;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

@import 'antd/dist/antd.less';
html, body {
  margin: 0;
}

#container2 {
  width: 85%;
  margin: 0 auto;
  position: absolute;
}


#container {
  width: 85%;
  margin: 0 auto;
  position: absolute;
}
#container3 {
  width: 85%;
  margin: 0 auto;
  position: absolute;
}


.player {
  color: #fff;
  display: flex;

}
.player .ant-btn,
.player .ant-progress {
  margin-left: 8px;
      display: flex;
    justify-content: center;
    align-items: center;
}
.player .ant-progress-show-info .ant-progress-outer {
  margin-right: calc(-7em - 8px);
  padding-right: calc(7em + 8px);
}
.player .ant-progress-text {
  width: 7em;
}
.player__controls {
  display: flex;
  align-items: center;
}
.player__sound {
  display: flex;
  flex-basis: 150px;
  align-items: center;
}
.player__sound .ant-slider {
  width: 100%;
  margin: 0 8px 0 8px;
}

